# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Environment variables
.env
.env.*
*.env
.env.local
.env.prod

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
*.pid

# Coverage / testing
.coverage
htmlcov/
.coverage.*
.pytest_cache/
test-results/

# Backup files
*.bak
*.swp
# Created by venv; see https://docs.python.org/3/library/venv.html
venv/Lib
db.sqlite3
NUL
celerybeat-schedule

# SSH / deploy
gha_deploy_key
gha_deploy_key.pub
known_hosts
