services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: comments_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: comments_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
