DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,comments_backend,comments_frontend
DJANGO_TIME_ZONE=UTC
DJANGO_LOG_LEVEL=INFO

FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

DB_ENGINE=postgres
POSTGRES_DB=comments_db
POSTGRES_USER=comments_user
POSTGRES_PASSWORD=comments_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

CHANNEL_LAYER=redis
REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TIMEZONE=UTC

ELASTICSEARCH_HOST=http://elasticsearch:9200
ELASTICSEARCH_DSL_AUTOSYNC=1

BACKEND_PORT=8000
FRONTEND_PORT=5173
ES_PORT=9200
KIBANA_PORT=5601
RABBITMQ_UI_PORT=15672

# Production toggles (optional)
DJANGO_SETTINGS_MODULE=core.settings.production
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0

# Elasticsearch optional toggle
ELASTICSEARCH_ENABLED=0
